@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    height: 100vh;
    width: 100%;
    background-color: #00335A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #000F33;
    width: 30%;
    height: 80%;
    border-radius: 10px;
}

.calculator {
    width: 95%;
    height: 95%;
    border-radius: 5px;
    margin: 2.5% 2.5%;
    /* background-color: lightblue; */
}

.div1 {
    width: 100%;
    height: 10%;
}
.div1 h1 {
    text-align: center;
    letter-spacing: 5px;
    font-size: 0.6rem;
    color: #007366;
}
@media (min-width: 700px) {
    .div1 h1 {
        font-size: 2rem;
    }
}
.div2 {
    width: 100%;
    height: 20%;
    background-color: #007866;
    border-radius: 5px;
    position: relative;
}
.div2 .value {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
}
.div3 {
    margin-top: 2.5%;
    width: 100%;
    height: 70%;
}

.div3 .upper {
    width: 100%;
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.upper .clear {
    height: 100%;
}
.upper .backspace {
    grid-column: 3/5;
}

.lower {
    margin-top: 2.5%;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}
.lower .layer1 {
    display: grid;
    grid-row: 1/2;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.lower .layer2 {
    display: grid;
    grid-row: 2/4;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}
.layer2 .add {
    grid-column: 4/5;
    height: 210%;
}

.lower .layer3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 4/6;
    grid-gap: 5px;
}
.layer3 .equal {
    grid-column: 4/5;
    height: 210%; 
}
.layer3 .zero {
    grid-column: 1/3;
}

.nums, .clear, .backspace {
    background-color: #000F33;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    box-shadow: 1px 3px #003266;
}
.nums:hover, .clear:hover, .backspace:hover {
    cursor: pointer;
}
.nums:active, .clear:active, .backspace:active {
    background-color: #000566;
    box-shadow: none;
    transition: box-shadow 0.1s linear;
}